
.main-form{
    border:2px solid goldenrod;
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 70vh;
    margin: 1rem auto;
    padding: 1rem;
    justify-content: space-evenly;
    border-radius: 1rem;
}
.form-input{
    padding:1rem 0.5rem;
    margin-top: 1rem;
    border:1px solid gold;
    font-size: 1.2rem;
    color:black;
}
.form-text{
    padding:0.5rem 0.2rem;
    margin-top: 1rem;
    font-size: 1.2rem;
    color:black;
}
.form-title{
    display: flex;
    flex-direction: column;
    font-size: 1.4rem;
    color: khaki;
}
.btn{
    width: max-content;
    margin: 0rem auto;
}

/* ----------table format */
@media (max-width:1024px) {
    .main-form{
        width:40%;
        height: 100vh;
    }
}
/* ------------mobile version--------- */
@media (max-width:760px)
{
    .main-form{
        margin: 1rem auto;
        width: 95%;
        height: 100vh;
        justify-content: space-around;
    }
  
}

